.header-container{
  display:flex;
  justify-items: center;
  box-shadow: 0  0 2px rgba(110, 110, 110);
padding:10px 20px;
margin:0 -10px;
}
.header-container h1{
  color: #5f6368;
  font-size: 1.5rem;
  font-weight: 600;
}